.navbar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.quem-somos{
    background-color: orangered;
    padding-top: 50px;
}

.personagens{
    background-color: rgb(255, 187, 0);
}